label {
  font-size: 4vw;
  display: block;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 2vw;
  margin: 2vw 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1vw;
  box-sizing: border-box;
  font-size: 4vw;
}

input[type="number"] {
  width: 49.5%;
  padding: 12px 20px;
  margin: 2vw 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1vw;
  box-sizing: border-box;
  font-size: 4vw;
}

#price,
#mileage,
#mileage-max,
#phone {
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div {
  border-radius: 1vw;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 2%;
}

/* Buttons */

.button-group {
  margin: 0%;
  padding: 3% 0%;
  width: 100%;
}

.button-group .button {
  border-radius: 0;
}

.button-group .button:first-child {
  border-radius: 6px 6px 0 0;
}

.button-group .button:last-child {
  border-radius: 0 0 6px 6px;
}

.button-group:after {
  content: "";
  clear: both;
  display: table;
}

.button-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.button-default,
.button-pressed {
  width: 100%;
  padding: 2.5%;
  display: inline;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 1vw;
  box-sizing: border-box;
  font-size: 4vw;
}

.button-pressed {
  border: 1px solid #aaa;
  background-color: #ccc;
}
