label {
  font-size: 4vw;
  display: block;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 2vw;
  margin: 2vw 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1vw;
  box-sizing: border-box;
  font-size: 4vw;
}

input[type="number"] {
  width: 100%;
  padding: 2vw;
  margin: 2vw 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1vw;
  box-sizing: border-box;
  font-size: 4vw;
}

input[type="tel"] {
  width: 100%;
  padding: 2vw;
  margin: 2vw 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1vw;
  box-sizing: border-box;
  font-size: 4vw;
}

#price,
#mileage,
#mileage-max,
#phone {
  width: 100%;
}

div {
  border-radius: 1vw;
  background-color: var(--tg-theme-bg-color);
  padding: 20px;
  margin: 2%;
}

/* Buttons */

.button-group {
  margin: 0%;
  padding: 3% 0%;
  width: 100%;
}

.button-group .button {
  border-radius: 0;
}

.button-group .button:first-child {
  border-radius: 6px 6px 0 0;
}

.button-group .button:last-child {
  border-radius: 0 0 6px 6px;
}

.button-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.button-default,
.button-pressed {
  width: 100%;
  padding: 2.5%;
  display: inline;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 1vw;
  box-sizing: border-box;
  font-size: 4vw;
}

.button-pressed {
  border: 1px solid #aaa;
  background-color: #ccc;
}

.input-group {
  margin: 0%;
  padding: 3% 0%;
  width: 100%;
}

.input-group .input {
  border-radius: 0;
  margin: 0vw;
}

.input-group .input:first-child {
  border-radius: 6px 6px 0 0;
}

.input-group .input:last-child {
  border-radius: 0 0 6px 6px;
}

.input-group input:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
