body {
    margin: 0;
    padding: 0;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.form {
    padding: 20px;
}

.field-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.label {
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 5px;
}

.custom-category {
    display: none;
}

.select-button {
    background-color: var(--tg-theme-secondary-bg-color);
    font-size: 18px;
    color: var(--tg-theme-text-color);
    text-align: left;

    width: 100%;
    margin: 0;
    padding: 10px 20px;

    border: none;
    border-radius: 8px;
}

.hidden-input-label {
    display: none;
}

.select-options {
    background-color: var(--tg-theme-bg-color);
    /*background-color: #fff;*/

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    margin: 0;
    padding: 20px;

    list-style: none;
    box-sizing: border-box;
    overflow-y: auto;

    opacity: 0;
    visibility: hidden;
    transition: 200ms ease;

    z-index: 10;
}

.select-options-visible {
    opacity: 1;
    visibility: visible;
}

.select-option {
    background-color: var(--tg-theme-secondary-bg-color);
    /*background-color: #f4f4f5;*/

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid var(--tg-theme-bg-color);
    cursor: pointer;
}

.select-option:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.select-option:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.select-option.selected {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color)
}

.select-option input:checked {
    text-decoration: underline;
}

.text-field {
    background-color: var(--tg-theme-secondary-bg-color);

    font-size: 18px;
    color: var(--tg-theme-text-color);

    width: 100%;
    padding: 10px 20px;

    border: none;
    border-radius: 8px;

    box-sizing: border-box;

    outline: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.radio-input-label {
    position: relative;

    border-bottom: 1px solid var(--tg-theme-bg-color);

    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
}

.radio-input-label:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.radio-input-label:first-of-type {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.radio-input-label:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.radio-input {
    position: absolute;
    left: -9999px;
}

.radio-input-text {
    font-size: 18px;
    color: var(--tg-theme-text-color);

    display: inline-flex;
    background-color: var(--tg-theme-secondary-bg-color);

    width: 100%;
    padding: 10px 20px;

    transition: 0.25s ease;
}

.radio-input:checked + .radio-input-text {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color)
}

.checkbox-label {
    position: relative;

    width: 25px;
    height: 25px;
    padding-left: 15px;
    cursor: pointer;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    display: block;
    width: 100%;
    height: 100%;
}

.checkbox-label input:checked ~ .checkmark {
    background-image: url('./images/rotate-ccw.svg');
}

.checkbox-label input:checked ~ .checkmark b {
    display: none;
}

.report-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--tg-theme-bg-color);
}

.report-input-label {
    position: relative;
    width: 100%;

    overflow: hidden;
}

.report-input-label span {
    background-color: var(--tg-theme-secondary-bg-color);

    color: var(--tg-theme-text-color);

    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.report-buttons .report-input-label:first-child span {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid var(--tg-theme-bg-color);
}

.report-buttons .report-input-label:last-child span {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.report-input-label input:checked + span {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color)
}

.category-select {
    display: none;
}
